In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

#### 1 Getting the data ready

#### 2 Choosing the right maching learning estimator/aglorithm/model for your problem

#### 3 Fitting your chosen machine learning model to data and using it to make a prediction

#### 4 Evaluting a machine learning model

#### 5 Improving predictions through experimentation (hyperparameter tuning)

#### 6 Saving and loading a pretrained model
 
#### 7 Putting it all together in a pipeline

### Random Forest Classifier Workflow for Classifying Heart Disease

1. Get the data ready

In [4]:
script_dir = os.path.dirname('machine learning practice')
train_path = os.path.join(script_dir, '../data/heart-disease.csv')

In [5]:
df = pd.read_csv(train_path)

In [6]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [7]:
# Create X (all the feature columns)
X = df.drop("target", axis=1)

# Create y (the target column)
y = df["target"]

### 2 Choosing the right maching learning estimator/aglorithm/model for your problem

In [8]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)
clf.get_params()

#https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

### 3 Fitting your chosen machine learning model to data and using it to make a prediction

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test =train_test_split(X,y, test_size =0.3)

In [13]:
clf.fit(X_train, y_train);

In [15]:
y_preds = clf.predict(X_test)
y_preds

array([1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 0], dtype=int64)

### 4 Evaluate the model on the training data and test data

In [17]:
clf.score(X_test, y_test)

0.8351648351648352

In [19]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.80      0.82      0.81        40
           1       0.86      0.84      0.85        51

    accuracy                           0.84        91
   macro avg       0.83      0.83      0.83        91
weighted avg       0.84      0.84      0.84        91

In [20]:
confusion_matrix(y_test, y_preds)

array([[33,  7],
       [ 8, 43]], dtype=int64)

In [23]:
accuracy_score(y_test, y_preds)

0.8351648351648352

### 5 Improve a model

In [26]:
#try different amount of n_estimators

np.random.seed(42)
for i in range (10, 100, 10):
    print(f"Trying Model with {i} estimators..." )
    clf = RandomForestClassifier(n_estimators= i).fit(X_train, y_train)
    print(f"Model Accuracy on test set: {clf.score(X_test,y_test) * 100:.2f}%")
    print("")

Trying Model with 10 estimators...
Model Accuracy on test set: 80.22%

Trying Model with 20 estimators...
Model Accuracy on test set: 78.02%

Trying Model with 30 estimators...
Model Accuracy on test set: 82.42%

Trying Model with 40 estimators...
Model Accuracy on test set: 83.52%

Trying Model with 50 estimators...
Model Accuracy on test set: 81.32%

Trying Model with 60 estimators...
Model Accuracy on test set: 82.42%

Trying Model with 70 estimators...
Model Accuracy on test set: 78.02%

Trying Model with 80 estimators...
Model Accuracy on test set: 82.42%

Trying Model with 90 estimators...
Model Accuracy on test set: 82.42%

 ### 6 Save a model and loat it

In [28]:
import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [29]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.8241758241758241